<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>

<body>
    <form action="" method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <div class="field">
            <input type="submit" value="Login">
        </div>


    </form>
</body>

</html>