<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="" method='POST' class="row g-3">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <label for="name" name="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="col-md-6">
                        <label for="email" name="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="col-md-6">
                        <label for="phone" name="phone" class="form-label">Phone No.</label>
                        <input type="phone2numeric" class="form-control" id="phone">
                    </div>
                    <div class="mb-3">
                        <label for="desc" name="desc" class="form-label">Description</label>
                        <textarea class="form-control" id="desc" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="feedback" name="feedback" class="form-label">Feedback</label>
                        <textarea class="form-control" id="feedback" rows="3"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class=" btn12 btn btn-outline-warning">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>