<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query</title>
</head>
<body>
{% if cont %}
<h1>Your data is :  {{cont}}</h1>

{% else %}
<h1>No data</h1>

{% endif %}
    
</body>
</html>