{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href={%static 'CSS/login_style.css'%} type='text/css'>
    
    
    <meta charset="utf-8">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <title>Login</title>
</head>

<body>
    <div class="wrapper">
        <div class="title">
            Login Form</div>
        <form action="#">
            <div class="field">
                <input type="text" required>
                <label>Email Address</label>
            </div>
            <div class="field">
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="content">
                <div class="pass-link">
                    <a href="#">Forgot password?</a></div>
            </div>
            <div class="field">
                <input type="submit" value="Login">
            </div>
            <div class="signup-link">
                Not a member? <a href="#">Signup now</a></div>
        </form>
    </div>
</body>

</html>